body {
    font-family: 'Segoe UI';
}

.logo {
    display: flex;
    width: 300px;
    height: 60px;
    cursor: pointer;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 15px 15px;
    /* margin: 0 -102px; */

}

ul {
    list-style: none;
    display: flex;
    gap: 30px;

}

ul li {
    cursor: pointer;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    padding: 57px 57px 26px 57px;
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.button {
    position: relative;
    left: 39vw;
    top: 4vh;
    padding: 18px 23px;
    border: 2px;
    border-radius: 5px;
    background-color: #00b6d1;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}

.secmain {
    display: inline-block;
    left: 12vw;

    position: relative;
    top: 105px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}

.secmain img {
    width: 63px;
    height: 60px;
}

.big {
    display: inline-block;
    position: relative;
    top: -26px;
    font-size: 23px;
    /* display: flex; */
}

.small {
    display: inline-block;
    position: relative;
    top: -26px;
    font-size: 13px;
    /* 
    display: flex; */
}

.but {
    border: 2px;
    border-radius: 5px;
    background-color: #00b6d1;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    padding: 10px 18px;
}

.green {
    background-color: #81c780;
}

.item {
    padding: 20px;
}

.lan {
    font-size: 25px;
    font-weight: 700;
    text-align: right;
    /* position: relative; */
    /* left: -267px; */
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;
}
 .smaller{
    display: flex;
    justify-content: center;
    align-items: center;
} 